<div>
{{!-- {{> product title=product.name price=product.cost img=product.img name=product.name}} --}}
{{> product title=product.name price=product.cost img=product.img name=product.name isAvailable=product.isAvailable}}
</div>
